<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        .row {
            margin-top: 40px;
        }

        .card:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        form {
            max-width: 460px;
            margin: 20px auto;
            padding: 20px;
        }
    </style>
</head>

<body class="grey lighten-4">
    <!-- navbar -->
    <header>

        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categories<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
            <li><a href="collapsible.html">Login/Signup</a></li>

        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Books</a></li>
            <li class="divider"></li>
            <li><a href="#!">Computer</a></li>
            <li class="divider"></li>
            <li><a href="#!">Electronic</a></li>
            <li class="divider"></li>
            <li><a href="#!">Other Books</a></li>
        </ul>

        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">Books</a></li>
            <li class="divider"></li>
            <li><a href="#!">Computer</a></li>
            <li class="divider"></li>
            <li><a href="#!">Electronic</a></li>
            <li class="divider"></li>
            <li><a href="#!">Other Books</a></li>
        </ul>


        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#!" class="brand-logo">Goodsmart</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Categories<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
                    <li><a href="collapsible.html">Login/Signup</a></li>
                </ul>
            </div>
        </nav>
    </header>


    <section class="container">
        <form action="/users/login" method="POST" class="white z-depth-2">
            <h4 class="center grey-text">Login</h4>
            <%- messages('messages', locals) %>
                <% if (messages.danger) { %>
                    <div class="alert"><span class="closebtn" onclick="this.parentElement.style.display='none';"
                            style="display: none;">&times;</span>
                        <%= messages.danger %>
                    </div>
                    <% } %>
                        <% if (messages.success) { %>
                            <div class="alert success"><span class="closebtn"
                                    onclick="this.parentElement.style.display='none';"
                                    style="display: none;">&times;</span>
                                <%= messages.success %>
                            </div>
                            <% } %>
                                <div class="input-field">
                                    <label for="username">Username</label>
                                    <input type="text" name="username" value="">
                                </div>
                                <div class="input-field">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" value="">
                                </div>
                                <div class="center input-field">
                                    <input type="submit" name="submit" value="Login"
                                        style="width: 100%; margin-top: 15px;" class="btn brand z-depth-0">
                                </div>
                                <p style="display: inline-block">Don't have an account?</p>
                                <a href="/users/register">Signup</a>
        </form>
    </section>


    <!-- footer -->

    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ab, voluptatem esse itaque
                        laboriosam asperiores enim. Nihil!</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ab, voluptatem esse itaque
                        laboriosam asperiores enim. Nihil!</p>
                </div>
                <div class="col s12 l4 offset-12">
                    <h5>Connect</h5>
                    <ul>
                        <li><a href="" class="grey-text text-lighten-3">Facebook</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Twitter</a></li>
                        <li><a href="" class="grey-text text-lighten-3">LinkedIn</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright grey darken-4">
            <div class="container center-align">
                &copy; Goodsmart <span id="year"></span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            $('.carousel').carousel({
                indicators: true
            });
            $('.slider').slider();

            document.querySelector('#year').innerHTML = new Date().getFullYear();

        });
    </script>
</body>

</html>