@font-face {
  font-family: gacor;
  src: url(/fonts/Gacor.ttf);
}

.logo {
  font-family: gacor;
  font-size: 1.5rem !important;
  margin-left: 5px;
}

.row {
  margin-top: 40px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.circle-badge {
  border-radius: 50% !important;
  min-width: 1rem !important;
  padding: 0 8px !important;
  vertical-align: super;
  margin-left: -8px !important;
  margin-bottom: 20px !important;
  position: absolute;
  top: 16px;
  font-size: 11px !important;
}

.searchbox {
  /* margin: 10px; */
  padding: 1px 10px;
}

.search-btn {
  margin: 0 0 10px 0px;
}

.login_form {
  max-width: 460px;
  margin: 20px auto;
  padding: 20px;
}

/* product details */
.mt-20 {
  margin-top: 20px;
}

.product-wrapper {
  height: 550px;
}

@media only screen and (max-width: 600px) {
  .product-wrapper {
    height: 450px;
  }
}

.h100 {
  height: 100%;
}

/* checkout */
.table-container {
  padding: 20px;
}

.payment-container {
  padding: 20px;
}

.input-field .red-text {
  font-size: 0.85rem;
}
